old
.vim/plugged
.vim/.netrwhist
.vim/session

.moc/cache/*
.moc/equalizer
.moc/pid
.moc/softmixer
.moc/socket2
.moc/last_directory

.config/vifm/vifminfo
*.swp
.config/newsboat/cache/*

.ssh/cache/*
.ssh/keys/*

.config/xfce4/xfce4-screenshooter
.config/xfce4/desktop/*
.config/vifm/vifm*
.config/newsboat/cache/*
.config/newsboat/log/*

