[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/emera/Desktop/mutt-wizard]
row=1
col=1

[/home/emera/Desktop/run_mocp.sh]
row=8
col=0

[/home/emera/Desktop/bookmarks-2020-01-24.json]
row=2
col=0

[/home/emera/Desktop/Old Firefox Data]
row=0
col=1

[/home/emera/Desktop/mutt]
row=2
col=1

[/home/emera/Desktop/startUp.sh]
row=6
col=0

[/home/emera/Desktop/SecureW2_JoinNow.run]
row=7
col=0

[236d899a-1bb9-4b46-b363-e2aad00018c2]
row=0
col=0

[SAMSUNG Android]
row=3
col=1

[158 GB Encrypted]
row=1
col=0

[Wastebasket]
row=3
col=0

[/]
row=4
col=0

[/home/emera]
row=5
col=0

