[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/emera/Desktop/SecureW2_JoinNow.run]
row=7
col=0

[/home/emera/Desktop/manual_logs]
row=5
col=1

[236d899a-1bb9-4b46-b363-e2aad00018c2]
row=2
col=0

[158 GB Encrypted]
row=1
col=0

[Wastebasket]
row=3
col=0

[/]
row=4
col=0

[/home/emera]
row=5
col=0

