[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/emera/Desktop/SecureW2_JoinNow.run]
row=7
col=0

[/home/emera/Desktop/startUp.sh]
row=6
col=0

[158 GB Encrypted]
row=1
col=0

[bae11418-f44c-46fe-9cd5-81e9fa0abfe3]
row=0
col=0

[1AE68173584B8F8A]
row=2
col=0

[Wastebasket]
row=3
col=0

[/]
row=4
col=0

[/home/emera]
row=5
col=0

